#AH_QuestionDetails{
    background-color: darkgray;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
}

#AH_QuestionText{
    font-size: 30px;
    text-align: center;
}

img{
    width:85px;
    height:85px;
}

#AH_AnswerDetails{
    margin-top:50px;
}